
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
{% include "header.html" %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    {% if is_edit: %}
                    <h1>Edit Offence</h1>
                    {% else: %}
                    <h1>New Offence</h1>
                    {% endif %}
                    <span class="subheading">Enter the offence details!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!--        {{ ckeditor.load() }}-->
            <!--        {{ ckeditor.config(name='body') }}-->
            <img src="{{image}}" height="200">
            <!--        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.plate_no.label }} {{ form.plate_no }} <br>
                {{ form.replace_plate_no.label }} {{ form.replace_plate_no }} <br>
                {{ form.offence.label }} {{ form.offence }} <br>
                <button>Submit</button>
            </form>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}