
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
{% include "header.html" %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/ticket.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    {% if is_edit: %}
                    <h1>Edit Offence</h1>
                    {% else: %}
                    <h1>New Offence</h1>
                    {% endif %}
                    <span class="subheading">Enter the offence details!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <img src="{{image}}" height="200">
            <form method="POST" action="{{ url_for('capture_offence') }}">
                {{ form.hidden_tag() }}
                {{ form.plate_no.label }} {{ form.plate_no }} <br>
                {{ form.replace_plate_no.label }} {{ form.replace_plate_no }} <br>
                {{ form.vehicle_type.label }} {{ form.vehicle_type }} <br>
                {{ form.offence.label }} {{ form.offence }} <br>
                <button class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}